* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  width: 50%;
  margin: 20px auto;
}

.formGroup, label, input {
  margin: 10px;
  padding: 5px;
  background-color: rgb(160, 197, 229);
  border: none;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: rgb(63, 62, 62);
}

.formGroup input {
  background-color: white;
}

h5 {
  margin-left: 12px;
}